<ul class="list-group" id="list-categories" style="border:0px;width:100%;">
</ul>

<script>
  
  const showMenuCategories = async()=>{
    let categories = []
    const menuEl = document.querySelector('#list-categories')
    let data = getCategories()
    await data.then(response => {
      response.data.forEach(el => categories.push(el))
    })

    categories.forEach(el =>{
      const a = document.createElement('a')
      a.href = el.filter_url
  
      a.innerHTML = `
        <a class="list-group-item d-flex justify-content-between list-group-item-action" style="border:0px">
          <label class="form-check-label" for="firstCheckbox">${el.description}</label>
          <span class="badge text-bg-secondary rounded-pill">${el.count_items}</span>
        </a>
  
      `
      menuEl.appendChild(a)
    })
  }

  showMenuCategories()
</script>