{% extends "base/index.html" %}

{% load static %}

{% block title %}
Inventario
{% endblock title %}

{% block content %}
<div class="container mt-5">
    <div class="d-flex justify-content-between">
        <h2>Inventario</h2>
        
        {% include "inventory/edit.html" %}
        {% include "inventory/new.html" %}
    </div>
    <div class="row">
        <div class="col-sm-3">
            {% include "inventory/category/listCategories.html" %}
        </div>
        <div class="col-sm-9">
            {% include "inventory/products.html" %}
        </div>
    </div>
</div>

{% endblock content %}

{% block javascript %}
<script>
      
    
</script>
{% endblock javascript %}