<div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasRightStock" aria-labelledby="offcanvasRightStockLabel">
    <div class="offcanvas-header">
      <h5 class="offcanvas-title" id="offcanvasRightLabel">Editar producto</h5>
      <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body">
      <form id="formEdit">
        <div class="row">
          <div class="col-sm-4">
            <div class="mb-3">
              <label for="exampleFormControlInput1" class="form-label">Cantidad</label>
              <input type="number" class="form-control form-control-sm" id="id_stock" value="0">
            </div>
          </div>
          <div class="col-sm-8">
            <div class="mb-3">
              <label for="exampleFormControlInput1" class="form-label">Unidad</label>
              <input type="text" class="form-control form-control-sm" id="id_unit" placeholder="">
            </div>
          </div>
        </div>
        <div class="mb-3">
          <label for="exampleFormControlInput1" class="form-label">Costo unitario</label>
          <input type="text" class="form-control form-control-sm" id="id_cost" placeholder="" value="0">
        </div>
        <div class="mb-3">
          <label for="exampleFormControlInput1" class="form-label">Precio</label>
          <input type="text" class="form-control form-control-sm" id="id_price" placeholder="" value="0">
        </div>
        <div class="modal-footer">
          <button type="submit" class="btn btn-primary">Actualizar</button>
        </div>
      </form>
    </div>
  </div>

  <script>

  </script>